@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: inherit;
  font-weight: 500;
  font-style: normal;
}

.nav_width {
  width: 98%;
}

.navOptions,
.navOptions > .active {
  background: none !important;
  color: black !important;
  font-size: medium !important;
  font-weight: 600 !important;
}
