
.form-input {
  width: 100%;
  padding: 12px 16px 11px;
  font-size: 14px;
  border-radius: 3px;
  color: #596a78;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-border{
  background-color: #fff;
  border: 1px solid #d7e3e7;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(14, 79, 206, 0.13);
}

.error-input-border{
  border: 1.5px solid #c92f2f;
  box-sizing: border-box;
  /* box-shadow: 4px 4px 14px rgba(209, 129, 86, 0.13); */
}


.error-input-border::placeholder{
  color: #c92f2f;
  font-weight: 700;
}




